* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background-color: #f6f9fc;
}

table {
  width: 100%;
  border: 1px solid #444444;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #444444;
}

td:nth-child(1) {
  width: 100px;
}

.title,
.check {
  width: 50px;
  text-align: center;
}

.check {
  width: 70px;
  text-align: center;
  cursor: pointer;
}

.check_on {
  color: white;
  background-color: tomato;
}
